@model IEnumerable<Motyvuoti_Dviratininkai.Models.MokejimoKortele>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numeris)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Savininkas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klientas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numeris)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Savininkas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klientas.KlientasId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MokejimoKorteleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MokejimoKorteleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MokejimoKorteleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
