@model Motyvuoti_Dviratininkai.Models.Aikstele

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Aikstele</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adresas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adresas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vietuSkaicius)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vietuSkaicius)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.laisvuVietuSkacius)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.laisvuVietuSkacius)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longtitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longtitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Darbuotojas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Darbuotojas.DarbuotojasId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AiksteleId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
