@model Motyvuoti_Dviratininkai.Models.KlientoPasiekimai

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>KlientoPasiekimai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Klientas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klientas.KlientasId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pasiekimas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pasiekimas.PasiekimasId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KlientoPasiekimaiId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
