@model IEnumerable<Motyvuoti_Dviratininkai.Models.Kelione>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.kelionesPradzia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kelionesPabaiga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nuvaziuotasAtstumas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kelionesTrukme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pradziosAdresas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pabaigosAdresas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dviratis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klientas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kelionesPradzia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kelionesPabaiga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nuvaziuotasAtstumas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kelionesTrukme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pradziosAdresas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pabaigosAdresas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dviratis.DviratisId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klientas.KlientasId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KelioneId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KelioneId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KelioneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
